<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head lang="fr" th:insert="~{template :: head}">
    <title th:text="${book.title}"> - Médiathèque au Mille et un livres</title>
</head>

<body>
<header th:insert="~{template :: header}"></header>

<div class="container">
    <div class="row">
        <div th:if="${errorMessage != null}" class="alert alert-warning col-12" role="alert">
            <p class="text-center" th:text="${errorMessage}"></p></div>
            <div th:if="${acceptMessage != null}" class="alert alert-success col-12" role="alert">
                <p class="text-center" th:text="${acceptMessage}"></p>
            </div>
        <div class="col-sm-12">
            <h2 th:text= "${book.title}">
            </h2>
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img th:if="${book.image != null}" th:src="@{${book.image}}"
                             width="200" height="300" class="card-img-top" alt="...">
                        <img th:if="${book.image == null}" th:src="@{/images/MML.png}"
                             width="200" height="300" class="card-img-top" alt="..." />
                    </div>
                        <span th:if="${session.firstname}" class="nav-item">
                            <div class="col-12">
						<span th:if="${book.avaibleBook == true}">
							<!--<span th:if="${book.reservationBook == true}">
								<small class ="reservation">Réservé</small>
							</span>-->
							<span th:unless="${book.reservationBook == true}">
								<small class ="avaible">Déja reservé</small>
							</span>
						</span>
						<span th:unless="${book.avaibleBook == true}">
							<p class ="notAvaible">Emprunté jusqu'au <span th:text="${book.nearestreturnDate}">
						</span>
                            </p></span>
					</div>
                 <!--  <span th:if="${book.avaibleBook == true and book.reservationBook != true}">
			</span>
                    <div class="col-12" th:unless="${book.avaibleBook == true and book.reservationBook != true}">-->
                        <div class="row col-12 justify-content-between">
                            <h4>Réservation</h4>
                            <form th:action="@{/reservation/{bookid}/{sessionid}(bookid=${book.id},sessionid=${session.id})}" method="post">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-dark btn-sm" id="submit" name="submit" value="Réserver ce livre">
                                </div>
                            </form>
                        </div>
                        <hr>
                        <p class="mb-1" th:switch="${book.nearestreturnDate}">
                            <span th:case="'01/01/2001'"></span>
                            <span th:case="*"> Date prochaine de fin de prêt : <span th:text="${book.nearestreturnDate}"></span></span>
                        </p>
                        <p class="mb-1">Nombre de personnes ayant réservé ce livre : <span th:text="${book.numberOfReservation}"></span></p>
                        <br/>

                    </div>
                            </span>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${book.title}"></h5>
                            <p class="card-text" th:text="${book.description}"></p>
                            <p class="card-text" th:text="${book.author}"></p>
                            <p class="card-text" th:text="${book.author}"></p>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">N°</th>
                                    <th>Référence</th>
                                    <th>Libre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="copy : ${copies}">
                                    <th  th:text= "${copyStat.index + 1}" class="col-md-4 my-1"></th>
                                    <th  th:text= "${copy.referenceNumber}" class="col-md-4 my-1"></th>
                                    <th>
                                        <i th:if="${copy.isAvailable}" class="fas fa-check-circle" style="color:green;"></i>
                                        <i th:if="${copy.isAvailable == 0}" class="fas fa-times-circle" style="color:red;"></i>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{template :: footer}"></footer>
</body>
</html>